body{
    background-color: black;
}

div{
    position: relative;
    border-color: black;
    
}


.left_side {
    background-color: black;
    right: 50%;
    top: 5%;
    text-align: left;
    position: fixed;
    
}

.left_side img{
    position: relative;
  width: 80%;
  top: -40px;
  
  background-color: black;
}

.right_side {
    text-align: right;
    background-color: white;
    position: fixed;
    left: 50%
    
}

.shadow{
    text-align: center;
    
    position: absolute;
    color: white;
    font-size: 50px;
    font-weight: bold;
    top: 170px;
    right: 390px;
    position: absolute;
   
   
}

.shadowOP{
    background-color: black;
    opacity: 0.5;
    width: 5000px;
    height: 100px;
    left:65px;
   
    top: -65px;
    position: absolute;
}

.shadowOP2{
    background-color: black;
    opacity: 0.5;
    width: 5000px;
    height: 100px;
    right: 65px;
   
    top: -65px;
    position: absolute;
}

.logo{
    
    position: absolute;
    height: 150px;
    width: 100px;
    right: 230px;
    top:190px;
    opacity: 0.5;
}